<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InnocenceService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <InnocenceService.Properties.Settings>
            <setting name="ProtectMode" serializeAs="String">
                <value>RemainingSeconds</value>
            </setting>
            <setting name="Deadline" serializeAs="String">
                <value>02/08/2037 19:00:00</value>
            </setting>
            <setting name="RemainingSeconds" serializeAs="String">
                <value>2592000</value>
            </setting>
            <setting name="ProtectAction" serializeAs="String">
                <value>Rename</value>
            </setting>
            <setting name="LastShutdown" serializeAs="String">
                <value>02/08/2022 19:00:00</value>
            </setting>
        </InnocenceService.Properties.Settings>
    </applicationSettings>
</configuration>
